.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-size: 28px;
    font-weight: normal;
    color: #003E52;
    margin: 20px 0;
}

.topRightContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 145px;
}

.exploreText {
    font-size: 20px;
    color: #003E52;
    font-weight: normal;
}

.navigationContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    font-size: 24px;
    color: #003E52;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
    outline: none; 
    border: none; 
    background: transparent; 
}

.icon:hover {
    opacity: 1;
}
.icon:focus {
    outline: none;
}
.icon:focus-visible {
    outline: none;
}

.swiperContainer {
    width: 100%;
    overflow: hidden;

}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.swiperContainer:hover .swiper-wrapper {
    animation: slideLeft 2s linear infinite;
}

.swiperSlide {
    width: calc(33.33% - 10px);
    cursor: pointer;
}

.productContent {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productContent:hover .clearImage {
    animation: rotateImages 3s infinite;
    background-size: cover;
}

.blurredImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    z-index: 0;
}

.clearImageWrapper {
    position: absolute;
    width: 80%;
    height: 80%;
    border: 1px solid white;
    z-index: 1;
    display: flex;
    overflow: hidden;
    background-color: transparent;
}

.clearImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productText {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #003E52;
}

@keyframes rotateImages {
    0% {
        background-image: url('./TesterImages/categoryImg1.png');
    }

    33% {
        background-image: url('./TesterImages/categoryImg2.png');
    }

    66% {
        background-image: url('./TesterImages/categoryImg3.png');
    }

    100% {
        background-image: url('./TesterImages/categoryImg1.png');
    }
}


.custom-prev, .custom-next {
    cursor: pointer;
    font-size: 24px;
    color: #003E52;
    opacity: 0.6;
    transition: opacity 0.3s, transform 0.3s;
}

.custom-prev:hover, .custom-next:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* Responsive css start  */



@media only screen and (max-width: 992px) {
    .topRightContainer {
        margin-right: 0px;
    }
}
@media only screen and (max-width: 768px) {
    .swiperContainer {
        margin-top: 0px;
    
    }
    .title {
        font-size: 18px;
        border-bottom: 0;
    }

    .topRightContainer {
        margin-right: 0px;
    }

    .exploreText {
        font-size: 16px;
    }

    .icon {
        font-size: 16px;
    }

    .topRightContainer {
        gap: 10px;
    }
    .productContent {
        height: 300px;
    }

    .clearImageWrapper {
        width: 90%;
        height: 90%;
    }
}@media only screen and (max-width: 480px) {
    .title {
        font-size: 16px;
        text-align: left;
    }
    .navigationContainer {
        gap: 0px;
    }
    .productContent {
        height: 200px;
    }

}