body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* display: flex; */

  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  background-color: #f0f0f0;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-group input:focus {
  border-color: #007BFF;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}

.logo img {
  width: 100%;
  height: 40px;
}

/* carousel section css start from here  */



.carousel {
  width: 100%;
  height: 600px;
  background-image: url(./Template/images/carousel.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

.carouselContent {
  text-align: left;
  padding-left: 100px;

}

.carouselContent h2 {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  line-height: 90px;
}

.carouselContent p {
  font-size: 46px;
  font-weight: 600;
  color: #fff;
  line-height: 70px;
}

.shopnow {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

.shopmore {
  background-color: transparent;
  font-size: 16px;
  padding: 8px 20px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  margin-left: 20px;
}

/* Logo Slide  section css start from here  */
.logoSlide {
  margin: 80px 0;
}

.container {
  overflow: hidden;

  .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;

    .logos {
      width: 100%;
      display: inline-block;

      /* margin: 0px 0; */
      .fab {
        width: calc(100% / 5);
        animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* card section css start from here   */

.cardContent {
  /* background-color: #0000006e;  */
  display: flex;
  align-items: end;
  text-align: left;
  padding: 0 0 20px 30px;
}

.cardContent h5 {
  font-size: 28px;
  font-weight: 700;
}

.cardContent p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.cardContent button {
  padding: 10px 40px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

/* FeaturedParent css start from here  */

.FeaturedParent {
  margin-top: 80px;
  text-align: center;
}

.FeaturedParent h2 {
  font-size: 48px;
  font-weight: 600;
}

.FeaturedParent h2::after {
  content: "";
  display: flex;
  width: 10%;
  margin: 0 auto;
  justify-content: center;
  height: 2px;
  background-color: black;
  margin-top: 12px;
}